<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxAvDVoW7lm5YMWEPPSHz4pk_5XEcfv8U</string>
	<key>GCM_SENDER_ID</key>
	<string>517222837773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mut.TodoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-1b445</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-1b445.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517222837773:ios:f75ca72a5a43732cb4af44</string>
</dict>
</plist>